.advantages__image {
  @include centered-block;

  width: 320px;
  height: 260px;
  object-fit: cover;
}

.advantages__flex {
  @include mobile-container;
  padding: 0;
  background-color: $light-blue;

  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0;

    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0;

    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    max-width: 256px;
    padding: 45px;
    padding-bottom: 20px;

    &--right {
      order: 2;
    }
  }

  .advantages__image {
    width: 512px;
    height: 256px;
  }

  .advantages__list-sublist {
    padding: 46px 25px 26px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    max-width: 400px;
    padding: 53px 60px 45px;

    &--right {
      padding: 50px 90px 35px;
    }
  }

  .advantages__nowrap {
    white-space: nowrap;
  }

  .advantages__image {
    width: 800px;
    height: 256px;
  }

  .advantages__list-sublist {
    padding: 46px 0 50px;
  }
}

.advantages__item {
  text-align: center;

  display: block;
  position: relative;
}

@media (max-width: 767px) {
  .advantages__item--sublist {
    padding-left: 50px;
    text-align: left;
  }

  .advantages__wrapper--triangle::before {
    content: "";
    position: absolute;

    background-image: url("../../img/bg-triangle.svg");

    width: 320px;
    height: 37px;

    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item--sublist {
    width: 165px;
    margin-top: 100px;
  }

  .advantages__item--souvenirs {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item--sublist {
    width: 300px;
  }
}

.advantages-grey {
  background-color: $grey;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.advantages-grey__wrapper {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 12px 34px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 12px 40px 40px;
  }
}

.advantages__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }

  &--high {
    padding-top: 76px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--medium {
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      width: 150px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &--large {
    margin-bottom: 12px;
  }

  &--sublist-first {
    padding-top: 35px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
      margin-bottom: 22px;
    }
  }

  &--sublist {
    padding-top: 30px;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
      margin-bottom: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    &--width {
      width: 150px;
      margin: 0 auto 10px;
    }
  }
}

.advantages__text {
  margin: 0;
  margin-bottom: 16px;

  @media (max-width: 767px) {
    &--width {
      width: 265px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $tablet-width) {
    &--width {
      width: 165px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    &--width {
      width: 280px;
    }

    &--width-sublist {
      width: 220px;
      margin: 0 auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  &--high {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--none {
    margin-bottom: 0;
  }

  &--grey {
    padding: 2px 15px 25px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      padding: 0 4px 25px;
    }
  }

  &--medium {
    margin-bottom: 35px;
  }

  &--small {
    margin-bottom: 30px;
  }
}

.advantages__icon {
  position: absolute;

  fill: $light-blue;

  top: 23px;
  left: 2px;

  @media (min-width: $tablet-width) {
    top: -87px;
    left: 45px;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--present {
      width: 64px;
      height: 75px;
      top: -90px;
      left: 50px;
    }

    &--burger {
      width: 77px;
      height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    &--house {
      left: 110px;
    }

    &--burger {
      left: 111px;
      top: -81px;
    }

    &--present {
      left: 116px;
    }
  }
}
