.choise-text {
  @include form-text;

  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    width: 56px;
    height: 56px;

    background-color: $light-grey;
    left: -81px;
    top: -14px;
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -79px;
    }
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 5px;
  }
}

.choise-text:hover::before,
.choise-text:focus::before {
  background-color: #e5e5e5;
}

.choise-text:active::before {
  background-color: #d5d5d5;
}
