.field {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;

  &:last-child {
    border: 0;
  }

  @media (max-width: 767px) {
    &--button {
      padding-top: 8px;
      padding-bottom: 0;
    }

    &--attractions {
      padding-top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;

    &--contacts {
      width: 268px;
      margin: 0;
      margin-left: auto;
    }

    &--impression {
      width: 324px;
      order: -1;
      margin: 0;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 9px;
        right: 0;
        width: 1px;
        height: 292px;
        border-left: 1px solid #dbdbdb;
      }
    }

    &--information {
      padding-top: 50px;
      padding-bottom: 45px;

      &::before,
      &::after {
        top: 58px;
      }
    }

    &--attractions,
    &--emotions,
    &--information {
      width: 648px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;

        width: 125px;
        height: 1px;

        top: 63px;
        border-top: 1px solid #dbdbdb;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    &--attractions {
      &::before,
      &::after {
        top: 24px;
      }
    }

    &--emotions {
      padding-bottom: 37px;

      &::before,
      &::after {
        top: 13px;
      }
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;

      padding-bottom: 63px;

      &::after {
        content: "* - обязательные поля";
        background-color: #ffffff;
        border: 0;
        color: #333333;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 26px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      width: 400px;
    }

    &--impression {
      width: 400px;

      &::after {
        top: 9px;
        right: -83px;
      }
    }

    &--information {
      padding-top: 42px;
      padding-bottom: 44px;

      &::before,
      &::after {
        top: 54px;
      }
    }

    &--attractions,
    &--emotions,
    &--information {
      width: 960px;

      &::before,
      &::after {
        width: 277px;
      }
    }

    &--emotions {
      padding-bottom: 42px;
    }
  }
}

.field__label {
  margin-right: 10px;

  &--information {
    margin-left: 20px;
    margin-bottom: 6px;
    display: block;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &--last {
    margin-right: 15px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.field__title {
  text-align: center;
  margin: 0 0 19px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 22px;
  }
}

.field__input-textarea {
  min-height: 160px;
}

.field__wrapper {
  display: flex;
  align-items: center;

  &--indent {
    margin-bottom: 0;
  }
}

.field__wrapper-column {
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &--indent {
    margin-bottom: 3px;
    margin-top: 9px;

    @media (min-width: $tablet-width) {
      margin-top: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 5px;
    }
  }
}

.field__icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 59px;
    height: 59px;
    background-color: #e6e6e6;

    right: 0;
    top: -20px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 1px;
    }
  }
}

.field__input-icon {
  position: absolute;
  top: 0;
  right: 21px;
  width: 16px;
  height: 16px;
  z-index: 1;

  @media (min-width: $desktop-width) {
    top: 22px;
  }
}

.field__item--choice {
  padding-top: 17px;
  padding-left: 80px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    padding-left: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
    padding-left: 79px;
    padding-top: 12px;
  }
}

.field__item--checkbox {
  padding-top: 6px;
  padding-left: 80px;
  padding-bottom: 48px;

  &-last {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1) {
      margin-right: 23px;
    }

    &:nth-child(2) {
      margin-right: 18px;
    }
  }
}

.field__item--textarea {
  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
  }
}

.field__input-radio:checked ~ .choise-text--radio {
  &::after {
    content: "";
    position: absolute;

    width: 22px;
    height: 22px;

    border-radius: 50%;
    background-color: #333333;

    top: 3px;
    left: -63px;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.field__input-checkbox:checked ~ .choise-text--checkbox {
  &::after {
    content: "";
    position: absolute;

    width: 25px;
    height: 19px;

    background-image: url("../img/icon-tick.svg");
    background-size: 25px 19px;

    top: 5px;
    left: -63px;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .field__title-attractions {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .field__label {
    margin-right: 15px;
  }

  .field__item--checkbox {
    padding-bottom: 30px;
  }

  .field__title--contacts,
  .field__title--impression {
    text-align: left;
    margin-bottom: 60px;
  }

  .field__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 462px;
    margin: 49px auto 53px;
  }

  .field__item--choice {
    min-width: 200px;
  }

  .field__title-attractions {
    width: 278px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .field__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .field__title--contacts {
    margin-bottom: 55px;
  }

  .field__title--impression {
    margin-left: 80px;
  }

  .field__hidden-text {
    display: none;
  }

  .field__list--checkbox {
    width: 960px;
    margin-top: 50px;
    margin-bottom: 26px;
  }

  .field__title--information {
    margin-bottom: 71px;
  }

  .field__input-radio:checked ~ .choise-text--radio {
    &::after {
      left: -61px;
    }
  }
}
