.map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-map-marker.svg");

    width: 27px;
    height: 27px;

    left: calc(50% - 15px);
    top: calc(50% - 15px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.map__interactive {
  z-index: 2;
  border: none;
  width: 100%;
  height: 350px;

  position: absolute;
}

.map__image {
  @include centered-block;

  width: 320px;
  height: 350px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: $tablet-width) {
    width: 1200px;
    height: 350px;
  }
}
