.title {
  font-family: $font-important;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--white {
    color: #ffffff;
  }

  &--size-large {
    font-size: 21px;
  }

  &--lead-large {
    line-height: 40px;
  }

  &--large-screen {
    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }

  &--large-screen-other {
    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
