.checkin {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.checkin__title {
  margin: 0;
}

.checkin__text {
  margin-top: 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 30px auto 45px;
  }
}
