.choise-text {
  @include form-text;

  position: relative;
  cursor: pointer;

  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;

    width: 56px;
    height: 56px;

    background-color: $light-grey;
    left: 0;
    top: -14px;
  }

  &__radio::before {
    border-radius: 50%;
  }

  &__checkbox::before {
    border-radius: 5px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 80px;
  }
}

.choise-text:hover::before,
.choise-text:focus::before {
  background-color: #e5e5e5;
}

.choise-text:active::before {
  background-color: #d5d5d5;
}
