.footer {
  background-color: #fefefe;
}

.footer__flex {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer__text {
  margin: 0;
}
