.footer {
  background-color: #fefefe;

  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 35px;
  }
}

.footer__flex {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.footer__text {
  margin: 35px auto 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
