/* Error: Undefined mixin.
 *   ,
 * 5 |   @include mobile-container;
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   c:\users\света\htmlacademy\html_css_2\18838-sedona-18\source\sass\gallery-list.scss 5:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502    @include mobile-container;\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   c:\\users\\\441 \432 \435 \442 \430 \\htmlacademy\\html_css_2\\18838-sedona-18\\source\\sass\\gallery-list.scss 5:3  root stylesheet";
}
