.input-about {
  @include form-text;
  width: 100%;
  padding: 14px 25px;

  background-color: $light-grey;
  border: 4px solid $light-grey;

  &::placeholder {
    color: #000000;
  }

  &--textarea {
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    &--information {
      width: 316px;
    }
  }

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
  }

  @media (max-width: 767px) {
    &--contacts-first {
      width: 230px;
    }

    &--contacts {
      width: 192px;
    }
  }

  @media (min-width: $tablet-width) {
    &--contacts-first {
      width: 216px;
    }

    &--contacts {
      width: 180px;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts-first {
      width: 350px;
    }

    &--contacts {
      width: 314px;
    }
  }
}
