.input-about {
  @include form-text;
  width: 100%;
  padding: 15px 20px;

  background-color: $light-grey;
  border: 1px solid $light-grey;

  outline: none;

  &::placeholder {
    color: #000000;
  }
}
