.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    width: $tablet-container;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container;
    padding: 0 250px;
  }

  &--smaller {
    @include mobile-container;

    @media (min-width: $tablet-width) {
      width: $tablet-container;
      margin: 0 auto;
      padding: 0 165px;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-container;
      margin: 0 auto;
      padding: 0 325px;
    }
  }
}

.intro__title {
  margin-top: 38px;
  letter-spacing: 0.2px;
  order: 2;
}

.intro__text {
  margin-top: 28px;
  margin-bottom: 26px;
  letter-spacing: 0.2px;
  order: 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  &--smaller {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin-top: 5px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 35px;
    }
  }

  &--padding {
    padding: 0 10px;
  }
}
