.header__button {
  font-size: 0;
  border: 0;
  background-color: transparent;
}

.logo {
  text-align: center;

  height: 56px;
  background-color: #ffffff;
  order: 2;
  z-index: 1;
}

.logo__image {
  position: absolute;
  top: 244px;
  left: 901px;
}
