.logo {
  height: 56px;

  order: 2;
  z-index: 2;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: absolute;
    margin-left: calc(50% - 54px);
  }

  @media (min-width: $desktop-width) {
    margin-left: calc(50% - 93px);
  }
}

.logo__image {
  @include centered-block;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: auto;
  }
}
