.logo {
  height: 56px;

  order: 2;
  z-index: 2;
  background-color: #ffffff;

  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    background-color: transparent;
    top: -56px;
  }
}

.logo__image {
  @include centered-block;
}
