@mixin centered-block {
  display: block;
  margin: 0 auto;
}

@mixin mobile-container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin form-text {
  font-family: $font-important;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}
