.photo {
  min-height: 415px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    background-color: $light-grey;
    width: auto;
    min-height: 347px;
    padding: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: auto;
    min-height: 267px;
    padding: 0;

    border: none;
  }
}

.photo__image {
  margin-top: 20px;
  display: block;
  order: -1;

  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 400px;
    height: 267px;
  }

  &--first {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 400px;
    }
  }
}

.photo__title {
  margin: 0;
  margin-top: 20px;

  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    padding-left: 20px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: -63px;
    color: #ffffff;
  }
}

.photo__text-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    order: 2;

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;

    z-index: 1;
  }
}

.photo__text {
  margin: 0;
  margin-top: 3px;
}

.photo__text-likes {
  margin: 0;
  margin-top: 10px;
  padding-left: 36px;

  @media (min-width: $tablet-width) {
    margin-top: -8px;
  }
}
