.promo {
  height: 389px;
  padding: 0 20px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat bottom;
  background-color: $light-blue;

  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-size: 102%;

    width: 320px;
    height: 26px;

    bottom: -1px;
    right: 0;
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }

  &--img-small {
    padding: 0 45px;
    margin-top: -232px;

    background-size: cover;
  }

  &__logo-text,
  &__logo-text-small {
    max-width: 100%;
  }

  &__logo-text {
    margin-top: 20px;
  }

  &__logo-text-small {
    margin-top: 260px;
    margin-bottom: 60px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat bottom;
    padding: 0;
    height: 518px;

    &::after {
      content: "";
      position: absolute;

      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100%;

      width: 768px;
      height: 57px;

      bottom: -1px;
      right: 0;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }

    &--img-small {
      height: 290px;
      margin-top: 0;
    }

    &__logo-text {
      margin-top: 75px;
    }

    &__logo-text-small {
      margin-top: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat bottom;
    padding: 0;

    &::after {
      content: "";
      position: absolute;

      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-size: 100%;

      width: 1200px;
      height: 57px;

      bottom: -1px;
      right: 0;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }

    &__logo-text-small {
      margin-top: 100px;
    }

    &--img-small {
      height: 300px;
    }
  }
}
