.promo {
  height: 389px;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat bottom;
  background-color: $light-blue;

  text-align: center;
  padding: 0 20px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }

  &--img--small {
    height: 158px;
    padding: 0 45px;

    background-size: cover;
  }

  &__logo-text,
  &__logo-text-small {
    max-width: 100%;
  }

  &__logo-text {
    margin-top: 20px;
  }

  &__logo-text-small {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat bottom;
    padding: 0;
    height: 518px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }

    &--img--small {
      height: 290px;
    }

    &__logo-text {
      margin-top: 75px;
    }

    &__logo-text-small {
      margin-top: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat bottom;
    padding: 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }

    &__logo-text-small {
      margin-top: 100px;
    }
  }
}
