* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  text-align: center;
  background-color: #81b3d2;
  z-index: 1;
}

.main-nav__link {
  color: #ffffff;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0.3px;
}

.main-nav__item:not(:last-child) {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "PT Sans Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.title--white {
  color: #ffffff;
}
.title--size--large {
  font-size: 21px;
}
.title--lead--large {
  line-height: 40px;
}

.text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.text--white {
  color: #ffffff;
}
.text--lead--medium {
  line-height: 24px;
}
.text--lead--large {
  line-height: 26px;
}
.text--transform--none {
  text-transform: none;
}
.text--bold {
  font-family: "PT Sans Bold", "Arial Black", sans-serif;
  color: #000000;
}

.advantages-wrapper {
  background-color: #81b3d2;
}

.advantages__item {
  text-align: center;
}

.advantages__list-sublist .advantages__item {
  padding-left: 50px;
  text-align: left;
}

.advantages-grey {
  background-color: #eeeeee;
}

.advantages__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 8px;
}
.advantages__title--high {
  padding-top: 55px;
}
.advantages__title--medium {
  padding-top: 40px;
}
.advantages__title--large {
  padding-bottom: 12px;
}
.advantages__title--sublist--first {
  padding-top: 35px;
  padding-bottom: 13px;
}
.advantages__title--sublist {
  padding-top: 30px;
  padding-bottom: 13px;
}

.advantages__text {
  margin: 0;
  padding-bottom: 16px;
}
.advantages__text--high {
  padding-bottom: 40px;
}
.advantages__text--none {
  padding-bottom: 0;
}
.advantages__text--grey {
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.advantages__text--medium {
  padding-bottom: 35px;
}
.advantages__text--small {
  padding-bottom: 30px;
}

.advantages__image {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.button {
  background-color: #81b3d2;
}

.copyright {
  color: #000000;
  margin-top: 45px;
  margin-bottom: 35px;
}

.header__button {
  font-size: 0;
  border: 0;
  background-color: transparent;
}

.logo {
  text-align: center;
  height: 56px;
  background-color: #ffffff;
  order: 2;
  z-index: 1;
}

.logo__image {
  position: absolute;
  top: 244px;
  left: 901px;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.intro--smaller {
  position: relative;
  bottom: 232px;
  margin-bottom: -230px;
}

.intro__title {
  margin-top: 38px;
  letter-spacing: 0.2px;
  order: 2;
}

.intro__text {
  margin-top: 28px;
  margin-bottom: 26px;
  letter-spacing: 0.2px;
  order: 3;
}
.intro__text--smaller {
  margin-top: 10px;
}
.intro__text--padding {
  padding: 0 10px;
}

.intro__image {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.checkin {
  text-align: center;
}

.checkin__title {
  margin: 0;
  padding-top: 28px;
}

.checkin__text {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 35px;
}

.map__image {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.hashtag {
  margin-top: 40px;
  margin-bottom: 40px;
}

.photo {
  min-height: 415px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.photo-flex {
  display: flex;
  flex-direction: column;
}

.photo__image {
  margin-top: 20px;
  display: block;
  order: -1;
}

.photo__title {
  margin: 0;
  margin-top: 20px;
}

.photo__text {
  margin: 0;
  margin-top: 3px;
}

.photo__text-likes {
  margin: 0;
  margin-top: 10px;
  padding-left: 36px;
}

.footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
