* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "variables.scss";
@import "mixins.scss";
@import "container.scss";
@import "promo.scss";
@import "wrapper.scss";
@import "page.scss";
@import "header.scss";
@import "main-nav.scss";
@import "site-list.scss";
@import "title.scss";
@import "text.scss";
@import "advantages.scss";
@import "button.scss";
@import "copyright.scss";
@import "logo.scss";
@import "intro.scss";
@import "checkin.scss";
@import "map.scss";
@import "photo.scss";
@import "gallery-list.scss";
@import "video-player.scss";
@import "feedback.scss";
@import "feedback-form.scss";
@import "field.scss";
@import "input-about.scss";
@import "choise-text.scss";
@import "footer.scss";
@import "social.scss";
@import "sending-fail.scss";
@import "sending-success.scss";
