.title {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}

.title--black {
  color: #000;
}

.title--white {
  color: #fff;
}

.title--size--medium {
  font-size: 18px;
}

.title--size--large {
  font-size: 21px;
}
